<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.gulimalladmin.mapper.MenuMapper">

    <resultMap id="MenuMap" type="com.example.gulimalladmin.entity.Menu">
        <id column="menu_id" property="menuId"/>
        <result column="parent_id" property="parentId"/>
        <result column="name" property="name"/>
        <result column="url" property="url"/>
        <result column="perms" property="perms"/>
        <result column="type" property="type"/>
        <result column="icon" property="icon"/>
        <result column="order_num" property="orderNum"/>
    </resultMap>

    <select id="selectAll" resultMap="MenuMap">
        SELECT *
        FROM sys_menu
    </select>

    <select id="getByPage" resultMap="MenuMap">
        select * from sys_menu limit #{menuPage.pageSize},#{menuPage.offset};
    </select>


</mapper>
